* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  height: 100vh;
  background-color: #eee1d1;
  color: #173c34;
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}

body::after {
  position: absolute;
  height: 350px;
  width: 350px;
  right: 0px;
  bottom: 5px;
  background-image: url(../img/penne-pasta-with-bolognese-sauce-parmesan-cheese-basil-removebg-preview.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  content: "";
}

body::before {
  z-index: -1;
  position: absolute;
  height: 700px;
  width: 700px;
  left: -380px;
  top: -150px;
  rotate: 180deg;
  filter: blur(2px);
  background-image: url(../img/e5bcec3d-a4a9-40a8-8688-a8c3c490a2d1.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #173c34;
}

.container {
  width: 80%;
}

h1 {
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

h1::after {
  content: "";
  width: 400px;
  height: 60px;
  border: solid 3px #e8522a;
  border-color: #e8522a transparent transparent transparent;
  border-radius: 50% 50% 0 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.list-of-recepies {
  background-color: #2a635e;
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 15px;
  color: white;
  line-height: 1.5rem;
  height: 100px;
  overflow-y: scroll;
}
.list-of-recepies li {
  cursor: pointer;
  transition-duration: 400ms;
  transition-timing-function: ease-out;
}
.list-of-recepies li:hover {
  -webkit-text-decoration: underline #f86d46;
          text-decoration: underline #f86d46;
  text-underline-offset: 4px;
  padding: 4px 0;
  font-size: larger;
}

.recipe {
  background-color: #2a635e;
  padding: 25px;
  margin-bottom: 15px;
  color: white;
  line-height: 1.2rem;
  border-radius: 15px;
  max-height: 600px;
  overflow-y: scroll;
}

.recipe-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.recipe-header button {
  background-color: #2a635e;
  margin-right: 3px;
}
.recipe-header button i {
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}
.recipe-header button i:hover {
  color: #e8522a;
}

h2 {
  margin-bottom: 20px;
  font-size: 2rem;
}

h3 {
  margin-bottom: 10px;
}

i {
  color: white;
  font-size: 1.2rem;
}

.recipe-directions {
  line-height: 1.2rem;
  padding: 10px 100px 10px 0;
  margin-bottom: 15px;
}
.recipe-directions ul {
  margin-bottom: 15px;
}
.recipe-directions ul li {
  list-style-type: circle;
  list-style-position: inside;
}
.recipe-directions ol li {
  list-style-position: inside;
}

.form {
  z-index: 1;
  width: 500px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  background-color: #eee1d1;
  box-shadow: -1px -1px 41px -11px rgb(23, 60, 52);
}
.form label {
  margin-bottom: 10px;
}
.form input,
.form textarea {
  margin-bottom: 15px;
  padding: 10px;
}
.form .form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form .form-header input {
  padding: 0;
}
.form .form-header .close-button {
  display: flex;
  align-items: flex-start;
}
.form .close {
  background: none;
}
.form i {
  color: #e8522a;
}
.form .form-buttons {
  align-self: center;
}
.form .form-buttons input {
  padding: 7px 15px;
  margin-left: 5px;
  font-weight: 600;
  border-radius: 15px 3px 15px 3px;
  color: #e8522a;
  cursor: pointer;
}
.form .form-buttons :first-child {
  border: 2px solid #e8522a;
  background: none;
  transition-duration: 400ms;
}
.form .form-buttons :first-child:hover {
  background: #e8522a;
  color: white;
}
.form .form-buttons :nth-child(2) {
  background: none;
}
.form .form-buttons :nth-child(2):hover {
  -webkit-text-decoration: underline #e8522a;
          text-decoration: underline #e8522a;
  text-underline-offset: 4px;
}

.background {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #173c34;
  opacity: 0.5;
}

.hide {
  display: none;
}/*# sourceMappingURL=style.css.map */